<header>
    <nav>
        <ul>
            <li><a href="{{ path('app_bienvenue') }}">Bienvenue</a></li>
            <li><a href="{{ path('app_bienvenues') }}">Bienvenue à tous</a></li>
            <li><a href="{{ path('app_etudiant_list') }}">Etudiants</a></li>
            <li><a href="{{path('app_etudiant_mineurs_list') }}">Prison</a></li>
        </ul>
    </nav>
</header>