<header>
    <nav>
        <ul>
            <li><a href="{{ path('app_bienvenue') }}">Bienvenue</a></li>
            <li><a href="{{ path('app_bienvenues') }}">Bienvenue à tous</a></li>
        </ul>
    </nav>
</header>