{% extends 'base.html.twig' %}

{% block title %}Hello BienvenueController!{% endblock %}

{% block body %}

<h1>Bienvenue aux personnes</h1>

    <ul>
{%  for personne in personnes %}
    <a href="{{ path('app_bienvenue_prenom', {'prenom': personne}) }}">{{ personne }}</a></li>
{% endfor %}
    </ul>


{% endblock %}